/*! default */
/* 
html,
body {
  overflow-x: hidden;
} */

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", "Fraunces", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: linear-gradient(
    276deg,
    #1e0c00 4.96%,
    #1f0700 33.7%,
    #170a00 68.41%,
    #1e0d00 96.42%
  );
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

/*! header */

.header {
  margin-top: 48px;
}

.header,
.header__nav,
.header__menu,
.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img:hover,
.header__login-btn:hover,
.header__cart-btn:hover {
  filter: drop-shadow(10px 10px 10px #ff6432);
}

.header__nav {
  gap: 196px;
}

.header__menu {
  gap: 80px;
}

.header__actions {
  gap: 26px;
}

.header__menu-link {
  color: #a3a3a3;
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 17.88px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.header__menu-link {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 6px;
  height: 6px;
  background: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}

.header__menu-link:hover {
  background: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__menu-link:hover::after {
  transform: translateX(-50%) scale(1);
}

.header__cart-btn,
.header__login-btn,
.header__burger-btn {
  border: none;
  color: white;
  background-color: transparent;
}

.header__cart-btn {
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);
}

.header__cart-img {
  color: white;
  width: 20px;
  height: 20px;
}

.header__login-btn {
  border-radius: 50px;
  padding: 10px 56px;
  background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);
  font-family: Muller;
  font-weight: 500;
  font-style: Medium;
  font-size: 17.74px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.header__burger-btn {
  display: none;
}

.header__cart-btn {
  position: relative;
}

.header__cart-count {
  position: absolute;
  background: linear-gradient(261.69deg, #ff5d29 12.12%, #fe9c1c 86.72%);
  border-radius: 25px;
  padding: 2px 6px;
  top: -10%;
  right: -10%;
}

.active {
  padding: 20px 0;
  border-radius: 25px;
  background: linear-gradient(
    261.69deg,
    #ff5d29 12.12%,
    #fe9c1c 86.72%
  ) !important;
  width: 80%;
  display: block !important;
  position: absolute;
  display: flex !important;
  flex-direction: column !important;
  top: 20%;
  right: 10%;
  left: 10%;
  z-index: 10;
  text-align: center;
}

@media only screen and (max-width: 1075px) {
  .header__nav {
    gap: 20px;
  }
}

@media only screen and (max-width: 953px) {
  .header__nav {
    display: none;
  }

  .header__menu {
    flex-direction: column;
    gap: 20px !important;
  }

  .header__menu-link {
    color: white;
    font-weight: 900;
  }

  .header__burger-btn {
    display: block;
  }
}

/*! main */

main {
  margin: 80px 0;
}

/*! hero */

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__position-first,
.hero__position-second,
.hero__position-third,
.hero__position-fourth,
.hero__right-top,
.hero__right-bottom {
  position: absolute;
}

.hero__left-title {
  font-family: Muller;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 69.17px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #fff;
}

.hero__left-text,
.left__card-text {
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 19.56px;
  letter-spacing: 0%;
  color: #a3a3a3;
}

.left__text-span {
  color: #fff;
}

.hero__left,
.hero__left-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.left__card-video {
  border-radius: 23px;
  opacity: 60%;
}

.left__card-order,
.left__card-menu {
  padding: 17px 71px;
  border-radius: 50px;
  color: #fff;
  border: 2px solid #ff5d29;
  background-color: transparent;
}

.left__card-order:hover,
.left__card-menu:hover {
  background: linear-gradient(261.48deg, #fe9c1c -17.13%, #ff5e2a 86.76%);
}

.hero__right {
  position: relative;
}

.hero__right-pizza {
  border-radius: 23px;
}

.hero__right-top {
  top: -18%;
  right: -18%;
  filter: drop-shadow(-5px 5px 25px);
}

.hero__right-bottom {
  bottom: -10%;
  left: -30%;
  transform: rotate(-20deg);
  filter: drop-shadow(10px 0px 25px);
}

.hero__position-first {
  top: 0;
  left: 7%;
}

.hero__position-second {
  top: -15%;
  right: -5%;
  z-index: -9999;
}

.hero__position-third {
  bottom: 0%;
  right: 12%;
  z-index: -9999;
}

.hero__position-fourth {
  bottom: -4%;
  right: 65%;
  left: 35%;
  z-index: -9999;
}

@media only screen and (max-width: 1075px) {
  .hero__left-title {
    font-size: 50.17px;
  }

  .hero__right-pizza {
    width: 400px;
  }

  .hero__position-second {
    display: none;
  }
}

@media only screen and (max-width: 858px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero__position-first {
    display: none;
  }

  .hero__left-title {
    font-size: 69.17px;
  }

  .left__title-img {
    display: none;
  }

  .hero__left-box,
  .hero__left-card {
    margin: 0 auto;
  }

  .hero__right-top {
    right: -16%;
  }

  .hero__right-pizza {
    width: 300px;
    height: 500px;
  }
}

@media only screen and (max-width: 537px) {
  .hero__left-title {
    font-size: 55px;
  }
  .hero__right-pizza {
    width: 250px;
    height: 400px;
  }

  .hero__right-top {
    top: -15%;
    right: -12%;
    width: 125px;
    height: 125px;
  }

  .hero__right-bottom {
    left: -15%;
    width: 112px;
    height: 126px;
  }

  .hero__left-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hero__position-third {
    display: none;
  }
}

/*! menu */

.menu {
  margin-top: 50px;
  position: relative;
}

.menu__title {
  font-family: Muller;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 69.17px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: white;
  text-align: center;
}

.menu__buttons {
  margin: 49px 0 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.menu__buttons-active {
  background: linear-gradient(
    261.69deg,
    #ff5924 12.12%,
    #ffa229 86.72%
  ) !important;
}

.menu__buttons-btn {
  padding: 17px 75px;
  border-radius: 100px;
  border: none;
  color: white;
  font-family: Muller;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  background: #210a01;
  box-shadow: 0px 9px 40px 0px #ff6b000f;
  cursor: pointer;
}

.menu__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.menu-card {
  margin-top: 30px;
  background: #210a01;
  border-radius: 29.53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 100px 40px 0;
}

.menu-card__image {
  width: 159.1216278076172px;
  height: 157px;
  position: absolute;
  top: -60px;
}

.menu-card__title {
  color: white;
  font-family: Muller;
  font-weight: 500;
  font-style: Medium;
  font-size: 25.1px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.menu-card__description {
  color: #a3a3a3;
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.menu-card__sizes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-card__size {
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #a3a3a3;
  border: 1.5px solid #a3a3a3;
  border-radius: 50px;
  padding: 8px;
}

.menu-card__active {
  color: white;
  border-color: transparent;
  background: linear-gradient(
    261.69deg,
    #ff5924 12.12%,
    #ffa229 86.72%
  ) !important;
}

.menu-card__ingredients-btn {
  border: 1px solid #ff5d29;
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 16.08px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-card__footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-card__price {
  color: #ffffff;
}

.menu-card__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.menu-card__counter-btn {
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #a3a3a3;
  border: 1.5px solid #a3a3a3;
  border-radius: 50px;
  padding: 4px 8px;
}

.menu-card__counter-value {
  color: #a3a3a3;
}

.menu-card__counter-active {
  color: white;
  border-color: transparent;
  background: linear-gradient(
    261.69deg,
    #ff5924 12.12%,
    #ffa229 86.72%
  ) !important;
}

.menu-card__order-btn {
  padding: 11px 48px;
  border-radius: 100px;
  border: none;
  color: white;
  font-family: Muller;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  background: linear-gradient(
    261.69deg,
    #ff5924 12.12%,
    #ffa229 86.72%
  ) !important;
  box-shadow: 0px 9px 40px 0px #ff6b000f;
  cursor: pointer;
}

.menu-bg {
  position: relative;
  margin: 100px 0;
  width: 100%;
  height: 286px;
  background-image: url("./img/menu-img/menu-bg-pizza.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  z-index: 1;
}

.menu-bg > * {
  position: relative;
  z-index: 2;
}

.menu-bg__titile {
  font-family: Muller;
  font-weight: 500;
  font-style: Medium;
  font-size: 43.86px;
  line-height: 109.00000000000001%;
  letter-spacing: 0%;
  color: #ffffff;
}

.menu__position-first,
.menu__position-second,
.menu__position-third {
  position: absolute;
  z-index: -9;
}

.menu__position-first {
  top: 11%;
  left: 0%;
}

.menu__position-second {
  top: 43%;
  right: 0%;
}

.menu__position-third {
  top: 69%;
  left: 0%;
}

@media only screen and (max-width: 510px) {
  .menu-bg__titile {
    font-size: 25px;
  }

  .menu__position-first,
  .menu__position-second,
  .menu__position-third {
    display: none;
  }
}

/* ! events */

.events {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;
}

.events__item {
  /* 1. Positioning */
  position: relative !important;

  /* 2. Layout (Flexbox) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

  /* 3. Sizing */
  width: 100%;
  height: 230px;

  /* 4. Box model */
  padding: 25px;
  border-radius: 30px;

  /* 5. Typography */
  font-size: 24px;
  color: #fff;

  /* 6. Visual (Background) */
  background-color: #eaeaea;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.events__item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  z-index: 1;
}

.events__item > * {
  position: relative;
  z-index: 2;
}

.events__mote-btn {
  width: 50%;
  padding: 11px 0;
  border-radius: 100px;
  border: none;
  color: white;
  font-family: Muller;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  background: linear-gradient(
    261.69deg,
    #ff5924 12.12%,
    #ffa229 86.72%
  ) !important;
  box-shadow: 0px 9px 40px 0px #ff6b000f;
  cursor: pointer;
}

.events__row-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.events__item--1 {
  background-image: url("./img/events-img/events-items-1.jpg");
}

.events__item--2 {
  background-image: url("./img/events-img/events-items-2.jpg");
}

.events__item--3 {
  position: static;
  align-items: end;
  background: transparent;
}

.events__description {
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 19.56px;
  line-height: 136%;
  letter-spacing: 0%;
  text-align: right;
}

.events__row-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.events__item--4 {
  background-image: url("./img/events-img/events-items-4.jpg");
  background-position: top;
}

.events__item--6 {
  background-image: url("./img/events-img/events-items-6.jpg");
}

.events__row-3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.events__item--7 {
  background-image: url("./img/events-img/events-items-7.jpg");
}

.events__item--8 {
  background-image: url("./img/events-img/events-items-8.jpg");
}

.events__item--9 {
  background-image: url("./img/events-img/events-items-9.jpg");
}

.events__position-first,
.events__position-second {
  position: absolute;
  z-index: -9;
}

.events__position-first {
  top: -13%;
  left: -4%;
}

.events__position-second {
  bottom: -8%;
  right: -5%;
}

@media (max-width: 1024px) {
  .events__row-1,
  .events__row-2,
  .events__row-3 {
    gap: 16px;
  }

  .events__item {
    height: 210px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .events__row-1,
  .events__row-3 {
    flex-wrap: wrap;
  }

  .events__row-2 {
    gap: 2px;
  }

  .events__item {
    height: 200px;
    font-size: 20px;
  }

  .events__mote-btn {
    width: 60%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 510px) {
  .events__position-first,
  .events__position-second {
    display: none;
  }
}

@media (max-width: 480px) {
  .events__row-1,
  .events__row-2,
  .events__row-3 {
    flex-direction: column;
    gap: 15px;
  }

  .events__item {
    height: 190px;
    gap: 25px;
    padding: 20px;
  }

  .events__item--3 {
    align-items: flex-start;
    text-align: left;
  }

  .events__description {
    text-align: left;
    font-size: 16px;
  }

  .events__mote-btn {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .events {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;
  }

  .events__item {
    height: 170px;
    padding: 16px;
    gap: 20px;
    font-size: 18px;
    border-radius: 20px;
  }

  .events__mote-btn {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
  }

  .events__description {
    font-size: 15px;
    line-height: 130%;
  }
}

/*! About */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}

.about__title {
  color: #ffffff;
  font-family: Muller;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 69.17px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.about__text {
  color: #a3a3a3;
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 19.56px;
  line-height: 136%;
  letter-spacing: 0%;
}

.about__content {
  width: 38%;
}

.about__gallery {
  position: relative;
  width: 100%;
  height: 260px;
}

.about__gallery-column {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about__gallery-column--left {
  left: 50%;
  top: 50%;
  transform: translate(-47%, -60%);
  z-index: 2;
}

.about__gallery-column--right {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about__image {
  border-radius: 50%;
  object-fit: cover;
}

.image--big {
  width: 200px;
  height: 200px;
}

.image--medium:nth-child(2) {
  width: 200px;
  height: 200px;
}

.image--medium {
  width: 170px;
  height: 170px;
}

.image--small {
  width: 150px;
  height: 150px;
}

.about__right {
  position: relative;
}

.about__right-pizza {
  border-radius: 23px;
}

.about__right-top,
.about__right-bottom {
  position: absolute;
}

.about__right-top {
  top: -18%;
  right: -18%;
  filter: drop-shadow(-5px 5px 25px);
}

.about__right-bottom {
  bottom: -10%;
  left: -20%;
  transform: rotate(-20deg);
  filter: drop-shadow(10px 0px 25px);
}

@media (max-width: 1100px) {
  .about {
    flex-direction: column-reverse;
  }
  .about__content {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 830px) {
  .about__right-pizza {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 540px) {
  .about__right-pizza {
    width: 250px;
    height: 250px;
  }

  .about__gallery {
    display: none;
  }

  .about__right-top {
    width: 190px;
    height: 190px;
    top: -30%;
    right: -30%;
    filter: drop-shadow(-5px 5px 25px);
  }

  .about__right-bottom {
    width: 180px;
    height: 180px;
    bottom: -20%;
    left: -30%;
    transform: rotate(-20deg);
    filter: drop-shadow(10px 0px 25px);
  }
}

@media (max-width: 410px) {
  .about__right-pizza {
    width: 225px;
    height: 225px;
  }

  .about__right-top {
    width: 140px;
    height: 140px;
    top: -30%;
    right: -20%;
    filter: drop-shadow(-5px 5px 25px);
  }

  .about__right-bottom {
    width: 130px;
    height: 130px;
    bottom: -20%;
    left: -25%;
    transform: rotate(-20deg);
    filter: drop-shadow(10px 0px 25px);
  }
}

/*! footer  */

.footer {
  background: linear-gradient(
    245.71deg,
    #170a00 4.96%,
    #170600 33.7%,
    #0f0700 68.41%,
    #170a00 96.42%
  );
  color: #a8a8a8;
}

.footer__container {
  display: grid;
  grid-template-columns: 1.3fr repeat(4, 1fr);
  gap: 40px;
  padding: 60px 20px;
  align-items: start;
}

.footer__logo {
  color: #ff8a00;
  font-size: 22px;
  font-weight: 700;
}

.footer__phone {
  color: #ff8a00;
  font-size: 14px;
}

.footer__title {
  color: #a3a3a3;
  margin-bottom: 16px;
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 19.63px;
  line-height: 126%;
  letter-spacing: -2%;
}

.footer__link {
  display: block;
  color: #515151;
  font-family: Muller;
  font-weight: 400;
  font-style: Regular;
  font-size: 17.72px;
  line-height: 126%;
  letter-spacing: -2%;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s;
}

.footer__link:hover {
  color: #ff8a00;
}

.footer__social {
  display: flex;
  gap: 12px;
  align-self: end;
  grid-column: 5;
}

.footer__social-link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 12px;
}

@media (max-width: 992px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__social {
    grid-column: 2;
    grid-row: 4;
  }

  .footer__phone {
    grid-column: 1;
    grid-row: 4;
  }

  .footer__home {
    grid-column: 1;
    grid-row: 2;
  }

  .footer__events {
    grid-column: 2;
    grid-row: 2;
  }

  .footer__menu {
    grid-column: 1;
    grid-row: 3;
  }

  .footer__about {
    grid-column: 2;
    grid-row: 3;
  }

  .footer__phone {
    font-size: 12px;
  }
}
